<app-navbar></app-navbar>

<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-content">
            <h2>Membership Plans</h2>
            <ul class="pages-link">
                <li><a routerLink="/">Home</a></li>
                <li class="active">Pricing</li>
            </ul>
        </div>
    </div>
</div>

<!-- Pricing -->
<div class="pricing-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="top-title">PRICING PLAN</span>
            <h2>Transparent Price Plan for You!</h2>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-pricing">
                    <div class="pricing-title">
                        <h3>Basic Plan</h3>
                        <p>Basic pricing plan for learning</p>
                        <h2>$49<sub>/ Month</sub></h2>
                    </div>
                    <a class="default-btn" routerLink="/contact">Get Started</a>
                    <ul>
                        <li>
                            <i class="ri-check-line"></i>
                            Courses included 1
                        </li>
                        <li>
                            <i class="ri-check-line"></i>
                            Individual course 
                        </li>
                        <li>
                            <i class="ri-check-line"></i>
                            Course discussions
                        </li>
                        <li>
                            <i class="ri-check-line"></i>
                            Exercise files
                        </li>
                        <li>
                            <i class="ri-close-line"></i>
                            Try for free forever
                        </li>
                        <li>
                            <i class="ri-close-line"></i>
                            All personal features
                        </li>
                        <li>
                            <i class="ri-close-line"></i>
                            Certification practice
                        </li>
                        <li>
                            <i class="ri-close-line"></i>
                            Full access to single course
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-pricing active">
                    <div class="pricing-title">
                        <h3>Medium Plan</h3>
                        <p>Basic pricing plan for learning</p>
                        <h2>$69<sub>/ Month</sub></h2>
                    </div>
                    <a class="default-btn" routerLink="/contact">Get Started</a>
                    <ul>
                        <li>
                            <i class="ri-check-line"></i>
                            Courses included 2
                        </li>
                        <li>
                            <i class="ri-check-line"></i>
                            Individual course 
                        </li>
                        <li>
                            <i class="ri-check-line"></i>
                            Course discussions
                        </li>
                        <li>
                            <i class="ri-check-line"></i>
                            Exercise files
                        </li>
                        <li>
                            <i class="ri-check-line"></i>
                            Try for free forever
                        </li>
                        <li>
                            <i class="ri-check-line"></i>
                            All personal features
                        </li>
                        <li>
                            <i class="ri-close-line"></i>
                            Certification practice
                        </li>
                        <li>
                            <i class="ri-close-line"></i>
                            Full access to single course
                        </li>
                    </ul>

                    <span class="most-popular">Most Popular</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-pricing">
                    <div class="pricing-title">
                        <h3>Advance Plan</h3>
                        <p>Basic pricing plan for learning</p>
                        <h2>$99<sub>/ Month</sub></h2>
                    </div>
                    <a class="default-btn" routerLink="/contact">Get Started</a>
                    <ul>
                        <li>
                            <i class="ri-check-line"></i>
                            Courses included 10
                        </li>
                        <li>
                            <i class="ri-check-line"></i>
                            Individual course 
                        </li>
                        <li>
                            <i class="ri-check-line"></i>
                            Course discussions
                        </li>
                        <li>
                            <i class="ri-check-line"></i>
                            Exercise files
                        </li>
                        <li>
                            <i class="ri-check-line"></i>
                            Try for free forever
                        </li>
                        <li>
                            <i class="ri-check-line"></i>
                            All personal features
                        </li>
                        <li>
                            <i class="ri-check-line"></i>
                            Certification practice
                        </li>
                        <li>
                            <i class="ri-check-line"></i>
                            Full access to single course
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<app-subscribe></app-subscribe>

<app-footer></app-footer>