<!-- <app-navbar></app-navbar> -->

<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-content">
            <h2>Log In to Your Account</h2>
            <ul class="pages-link">
                <li><a routerLink="/">Home</a></li>
                <li class="active">Login</li>
            </ul>
        </div>
    </div>
</div>

<!-- Login -->
<div class="user-area ptb-100">
    <div class="container">
        <div class="user-form-content log-in-width">
            <h3>Log In</h3>
            <form class="user-form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                <div class="row">
                    <!-- Username or Email -->
                    <div class="col-12">
                        <div class="form-group">
                            <label for="employeeEmail">Username or Email *</label>
                            <input
                            class="form-control"
                            type="text"
                            id="employeeId"
                            name="employeeId"
                            placeholder="Enter Email"
                            [(ngModel)]="loginData.employeeId"
                            required
                            #employeeId="ngModel"
                          />
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="col-12">
                        <div class="form-group">
                            <label for="password">Password *</label>
                            <input
                class="form-control"
                type="password"
                id="employeePassword"
                name="employeePassword"
                placeholder="Enter Password"
                [(ngModel)]="loginData.password"
                required
                #employeePassword="ngModel"
              />
                        </div>
                    </div>

                    <!-- Remember Me & Forgot Password -->
                    <div class="col-12">
                        <div class="login-action d-flex justify-content-between align-items-center">
                            <span class="forgot-login">
                                <a routerLink="/forgot-password">Lost your password?</a>
                            </span>
                        </div>
                    </div>

                    <!-- Log In Button -->
                    <div class="col-12">
                        <button class="default-btn" type="submit" [disabled]="loginForm.invalid">Log In</button>
                    </div>

                    <!-- Social Login Options -->
                    <!-- <div class="col-12">
                        <span class="or">Or Log in with</span>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <button type="button" class="or-login facebook">Facebook</button>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <button type="button" class="or-login google">Google</button>
                    </div> -->

                    <!-- Register Link -->
                    <!-- <div class="col-12">
                        <p class="create">Don't have an account yet? <a routerLink="/register">Register</a> for free</p>
                    </div> -->
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>
