<app-instructor-navbar></app-instructor-navbar>

<div class="db-main-content-area">
    <div class="container-fluid">

        <!-- Withdrawal History -->
        <div class="db-purchase-history">
            <div class="table-responsive">
                <table class="table align-middle mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Amount</th>
                            <th scope="col">Payout Method</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date Processed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>$75.00</td>
                            <td>Payoneer</td>
                            <td class="processing">Processing</td>
                            <td>Sep 20, 2024</td>
                        </tr>
                        <tr>
                            <td>$25.00</td>
                            <td>Payoneer</td>
                            <td class="processing">Processing</td>
                            <td>Sep 12, 2024</td>
                        </tr>
                        <tr>
                            <td>$30.00</td>
                            <td>Payoneer</td>
                            <td class="status">Completed</td>
                            <td>Oct 11, 2024</td>
                        </tr>
                        <tr>
                            <td>$20.00</td>
                            <td>Payoneer</td>
                            <td class="canceled">Cancelled</td>
                            <td>Sep 07, 2024</td>
                        </tr>
                        <tr>
                            <td>$40.00</td>
                            <td>Payoneer</td>
                            <td class="processing">Processing</td>
                            <td>Sep 05, 2024</td>
                        </tr>
                        <tr>
                            <td>$30.00</td>
                            <td>Payoneer</td>
                            <td class="canceled">On Hold</td>
                            <td>Sep 22, 2024</td>
                        </tr>
                        <tr>
                            <td>$39.00</td>
                            <td>Payoneer</td>
                            <td class="status">Completed</td>
                            <td>Sep 20, 2024</td>
                        </tr>
                        <tr>
                            <td>$30.00</td>
                            <td>Payoneer</td>
                            <td class="processing">Processing</td>
                            <td>Sep 01, 2024</td>
                        </tr>
                        <tr>
                            <td>$75.00</td>
                            <td>Payoneer</td>
                            <td class="canceled">On Hold</td>
                            <td>Sep 01, 2024</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>