<app-navbar></app-navbar>

<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-content">
            <h2>Zoom Meetings</h2>
            <ul class="pages-link">
                <li><a routerLink="/">Home</a></li>
                <li class="active">Zoom Meetings</li>
            </ul>
        </div>
    </div>
</div>

<!-- Zoom Meetings -->
<div class="zoom-meeting-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="zoom-meeting-img">
                    <img src="assets/images/zoom-meeting-img.png" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="zoom-meeting-content">
                    <h2>Zoom For You</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. When an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.Risus commodo viverra maec enas ccumsan lacus vel facilisis.Curabitur aliquet quam id dui posuere blandit. It has svived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="zoom-meeting-time-area pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-zoom-meeting-time">
                    <img src="assets/images/zoom-meeting-img/zoom-img-1.jpg" alt="Image">
                    <h3>Team Member Responsibilities Meeting</h3>
                    <p><span>Meeting ID</span>: eeb-jdre-eqx</p>
                    <ul>
                        <li>
                            <i class="ri-time-line"></i>
                            1 hours
                        </li>
                        <li>
                            <i class="ri-calendar-line"></i>
                            22 Oct 2024, 3:30 PM
                        </li>
                    </ul>
                    <a href="#" target="_blank" class="default-btn">
                        Join Meeting via Zoom App
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-zoom-meeting-time">
                    <img src="assets/images/zoom-meeting-img/zoom-img-2.jpg" alt="Image">
                    <h3>Increase Visitors To The Website Meeting</h3>
                    <p><span>Meeting ID</span>: eeb-jdre-eqx</p>
                    <ul>
                        <li>
                            <i class="ri-time-line"></i>
                            1:30 hours
                        </li>
                        <li>
                            <i class="ri-calendar-line"></i>
                            29 Oct 2024, 3:30 PM
                        </li>
                    </ul>
                    <a href="#" target="_blank" class="default-btn">Join Meeting via Zoom App</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-zoom-meeting-time">
                    <img src="assets/images/zoom-meeting-img/zoom-img-3.jpg" alt="Image">
                    <h3>Business Planning Meeting</h3>
                    <p><span>Meeting ID</span>: eeb-jdre-eqx</p>
                    <ul>
                        <li>
                            <i class="ri-time-line"></i>
                            45 Minutes
                        </li>
                        <li>
                            <i class="ri-calendar-line"></i>
                            01 Nov 2024, 3:30 PM
                        </li>
                    </ul>
                    <a href="#" target="_blank" class="default-btn">Join Meeting via Zoom App</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>