<!-- Default Features for All Pages -->
<div 
    class="feature-area pt-100 pb-70"
    [ngClass]="{'d-none' : router.url === '/index-2'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <img src="assets/images/icon/learning.png" alt="Image">
                    <h3>Expedite Learning</h3>
                    <p>Adopting fast learning techniques by real-world experts</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <img src="assets/images/icon/source.png" alt="Image">
                    <h3>Open-source  Platform</h3>
                    <p>The world's learning open-source platform that helps your career</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <img src="assets/images/icon/out-line.png" alt="Image">
                    <h3>Maximum Efficiency</h3>
                    <p>Learning from the course has the potential to achieve maximum efficiency</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features for Only Home Demo 2 -->
<div 
    class="feature-area style-two d-none"
    [ngClass]="{'d-block' : router.url === '/index-2'}"
>
    <div class="container">
        <div class="feature-bg pt-60 pb-30">
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-3 col-md-6">
                    <div class="single-feature color-style">
                        <img src="assets/images/icon/learning-white.png" alt="Image">
                        <h3>Expedite Learning</h3>
                        <p>Adopting fast learning techniques by real-world experts</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="single-feature color-style">
                        <img src="assets/images/icon/source-white.png" alt="Image">
                        <h3>Open-source  Platform</h3>
                        <p>The world's learning open-source platform that helps your career</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="single-feature color-style">
                        <img src="assets/images/icon/out-line-white.png" alt="Image">
                        <h3>Maximum Efficiency</h3>
                        <p>Learning from the course has the potential to achieve maximum</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="new-additions">
                        <div class="new-brand">
                            <img src="assets/images/new-additions.png" alt="Image">
                        </div>
                        <h6>New additions courses published each month</h6>
                        <p>Choose from <span>25,000 +</span> online video courses</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="humaaan-3"><img src="assets/images/humaaan-3.png" alt="Image"></div>
</div>