<div class="coming-soon-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="coming-soon-content">
                <h2>Coming Soon</h2>
                <div class="timer">
                    <div>
                        {{ countdown.days }}d
                    </div>
                    <div>
                        {{ countdown.hours }}h
                    </div>
                    <div>
                        {{ countdown.minutes }}m
                    </div>
                    <div>
                        {{ countdown.seconds }}s
                    </div>
                </div>
                <form class="newsletter-form">
                    <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL" required autocomplete="off">
                    <button type="submit" class="default-btn">SUBSCRIBE</button>
                    <p>If you would like to be notified when your app is live, Please subscribe to our mailing list.</p>
                </form>
            </div>
        </div>
    </div>
</div>