<app-user-navbar></app-user-navbar>

<div class="db-main-content-area">
    <div class="container-fluid">

        <!-- Purchase History -->
        <div class="db-purchase-history">
            <div class="table-responsive">
                <table class="table align-middle mb-0">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Courses</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#0142</td>
                            <td>Machine Learning A-Z. Data science and Machine learning</td>
                            <td>$75.00</td>
                            <td class="processing">Processing</td>
                            <td>Sep 20, 2024</td>
                        </tr>
                        <tr>
                            <td>#0149</td>
                            <td>Complete guideline from zero to hero in web development</td>
                            <td>$25.00</td>
                            <td class="processing">Processing</td>
                            <td>Sep 12, 2024</td>
                        </tr>
                        <tr>
                            <td>#0145</td>
                            <td>Essential guide to fashion design beginner course</td>
                            <td>$30.00</td>
                            <td class="status">Completed</td>
                            <td>Oct 11, 2024</td>
                        </tr>
                        <tr>
                            <td>#0146</td>
                            <td>Photography is a complete guideline for easy learning</td>
                            <td>$20.00</td>
                            <td class="canceled">Cancelled</td>
                            <td>Sep 07, 2024</td>
                        </tr>
                        <tr>
                            <td>#0147</td>
                            <td>Successful course: Robot humanoid walk an upstairs success </td>
                            <td>$40.00</td>
                            <td class="processing">Processing</td>
                            <td>Sep 05, 2024</td>
                        </tr>
                        <tr>
                            <td>#0150</td>
                            <td>Graphic design masterclass: Graphic design course A-Z</td>
                            <td>$30.00</td>
                            <td class="canceled">On Hold</td>
                            <td>Sep 22, 2024</td>
                        </tr>
                        <tr>
                            <td>#0151</td>
                            <td>Finance fundamentals - Easy guide to better finances</td>
                            <td>$39.00</td>
                            <td class="status">Completed</td>
                            <td>Sep 20, 2024</td>
                        </tr>
                        <tr>
                            <td>#0180</td>
                            <td>Medical terminology - Start basic learning course</td>
                            <td>$30.00</td>
                            <td class="processing">Processing</td>
                            <td>Sep 01, 2024</td>
                        </tr>
                        <tr>
                            <td>#0170</td>
                            <td>Top 10 tips to beginner to master in music industry</td>
                            <td>$75.00</td>
                            <td class="canceled">On Hold</td>
                            <td>Sep 01, 2024</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>