.blog-details-content {
	.blog-details-img {
		margin-bottom: 30px;
	}
	.blog-top-content {
        .meta {
            padding-left: 0;
            margin-bottom: 15px;
            list-style-type: none;
    
            li {
                font-size: 15px;
                padding-left: 22px;
                margin-right: 20px;
                position: relative;
                display: inline-block;
                color: var(--paragraphColor);
    
                i {
                    left: 0;
                    top: -1.5px;
                    font-size: 16px;
                    position: absolute;
                    color: var(--primaryColor);
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
		.blog-content {
			h3 {
				font-size: 26px;
				margin-bottom: 15px;

                &:not(:first-child) {
                    margin-top: 25px;
                }
			}
            blockquote {
                z-index: 1;
                padding: 30px 50px;
                position: relative;
                padding-left: 105px;
                background-color: #f9fafb;
                border-radius: var(--borderRadius);
                margin: {
                    top: 30px;
                    bottom: 30px;
                };
                &::before {
                    top: 0;
                    left: 0;
                    width: 2px;
                    content: "";
                    height: 100%;
                    position: absolute;
                    background-color: var(--primaryColor);
                }
                p {
                    font-size: 18px;
                    margin-bottom: 0;
                    color: var(--headingColor);
                }
                img {
                    top: 50px;
                    left: 20px;
                    z-index: -1;
                    font-size: 60px;
                    position: absolute;
                }
            }
		}
	}
	.tags {
		padding: 20px;
		background-color: #fafafa;
        margin: {
            top: 30px;
            bottom: 30px;
        };
		.tag-link {
			padding-left: 0;
            margin-bottom: 0;
			display: inline-block;
			list-style-type: none;

			li {
				display: inline-block;
				margin-right: 5px;
                font-size: 15px;

				&.title {
					color: var(--headingColor);
					font-weight: 500;
				}
				a {
					display: inline-block;

					&:hover {
						color: var(--primaryColor);
					}
				}
			}
		}
	}
    .share-link {
		float: right;
    }
	.share-link {
		position: relative;
		padding-bottom: 20px;
		display: inline-block;

		.social-icon {
			z-index: 1;
			padding-left: 0;
			margin-bottom: 0;
			list-style-type: none;
			transition: var(--transition);

			.title {
				color: var(--headingColor);
				position: relative;
				font-weight: 500;
				top: -3px;
			}
			li {
				display: inline-block;
                font-size: 15px;

				a {
					padding: 0 5px;

					i {
						font-size: 18px;
					}
				}
			}
		}	
		&:hover {
			.social-icon  {
				top: 46px;
				opacity: 1;
			}
		}
	}
	.comment {
		padding-left: 0;
		margin-bottom: 40px;
		list-style-type: none;
		background-color: #fafafa;

		li {
			padding: 30px;
			position: relative;
			padding-left: 120px;
			display: inline-block;
            border-bottom: 1px solid #eeeeee;

			img {
				top: 30px;
				left: 30px;
				position: absolute;
			}
			h3 {
				font-size: 16px;
				margin-bottom: 10px;
			}
			span {
				display: block;
				font-size: 14px;
				margin-bottom: 10px;
                color: var(--paragraphColor);
			}
			p {
				margin-bottom: 0;
                font-size: 15px;
			}
			.read-more {
				top: 30px;
				right: 30px;
				position: absolute;
			}
			&.margin-left {
				margin-left: 30px;
			}
		}
	}
	.prev-next {
		padding-left: 0;
		margin-bottom: 35px;
		list-style-type: none;

		li {
			i {
				width: 40px;
				height: 40px;
				font-size: 20px;
				line-height: 40px;
				border-radius: 50%;
				text-align: center;
				display: inline-block;
				color: var(--headingColor);
				background-color: #f5f1ee;
				transition: var(--transition);
                margin: {
                    right: 10px;
                    left: 10px;
                };
			}
			a {
				&:hover {
					i {
						background-color: var(--primaryColor);
						color: var(--whiteColor);
					}
				}
			}
			span {
				top: -3px;
				position: relative;
			}
			&:last-child  {
				i {
					margin-right: 0;
				}
			}
			&:first-child  {
				i {
					margin-left: 0;
				}
			}
		}
	}
	.leave-reply {
		background-color: #fafafa;
		padding: 30px;

		h3 {
			margin-bottom: 10px;
			font-size: 24px;
		}
		form {
			p {
				margin-bottom: 30px;
			}
			.form-group {
				margin-bottom: 30px;

				label {
					margin-bottom: 10px;
                    font: {
                        size: 15px;
                        weight: 500;
                    };
				}
				.form-control {
					background-color: var(--whiteColor);
					border: 1px solid #ebebeb;
                    
					&::placeholder {
						color: #cccccc;
					}
                    &:focus {
                        border-color: var(--primaryColor);
                    }
				}
			}
		}
	}
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

	.blog-details-content {
		.blog-top-content {
			.meta {
				li {
					font-size: 14px;
				}
			}
			.blog-content {
				h3 {
					font-size: 20px;
				}
				blockquote {
					padding: 20px;
					
					p {
						font-size: 15px;
					}
					img {
						display: none;
					}
				}
			}
		}
		.tags {
			text-align: center;
		}
		.share-link {
			float: unset;
		}
		.share-link {
			padding-bottom: 0;
			margin-top: 12px;
		}
		.comment {
			margin-bottom: 40px;
	
			li {
				padding: 20px;
	
				img {
					top: 0;
					left: 0;
					display: block;
					position: relative;
					margin-bottom: 18px;
				}
				h3 {
					font-size: 14px;
				}
				span {
					font-size: 13px;
				}
				p {
					font-size: 14px;
				}
				&.margin-left {
					margin-left: 10px;
				}
			}
		}
		.leave-reply {
			padding: 20px;
	
			h3 {
				font-size: 20px;
			}
			form {
				p {
					margin-bottom: 20px;
				}
				.form-group {
					margin-bottom: 20px;
	
					label {
						font-size: 14px;
					}
				}
			}
		}
	}

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

	.blog-details-content {
        .share-link {
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .tags {
            padding: 20px;
        }
        .comment {
            li {
               padding: 20px;
                img {
                    position: unset;
                    margin-bottom: 20px;
                }
            }
        }
       .leave-reply {
           padding: 20px;

            form {
                .form-group {
                    label {
                        font-size: 14px;
                    }
                }
            }   
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {}