<app-navbar></app-navbar>

<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-content">
            <h2>All That Is Wrong With Codding In The Field Of Apprentices</h2>
            <ul class="pages-link">
                <li><a routerLink="/">Home</a></li>
                <li class="active">Blog Details</li>
            </ul>
        </div>
    </div>
</div>

<!-- Blog Details -->
<div class="blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-content mr-15">
                    <div class="blog-details-img">
                        <img src="assets/images/blogs/blog-1.jpg" alt="Image">
                    </div>
                    <div class="blog-top-content">
                        <ul class="meta">
                            <li>
                                <i class="ri-calendar-2-line"></i>
                                November 7, 2024
                            </li>
                            <li>
                                <i class="ri-price-tag-3-line"></i>
                                Education
                            </li>
                        </ul>
                        <div class="blog-content">
                            <h3>Better Guideline To Writing Coding</h3>
                            <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo, lacinia eget.</p>
                            <p>Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Praesent sapien massa, convallis a pellentesque</p>
                            <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Nulla porttitor accumsan tincidunt. Donec sollicitudin molestie malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris blandit aliquet elit, eget tincidunt nibh</p>
                            <p>Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
                            <blockquote>
                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.”</p>
                                <img src="assets/images/blogs/quat.png" alt="Image">
                            </blockquote>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto  Sed ut perspiciatis unde omnis.</p>
                            <p>Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
                            <h3>Right Coding Process</h3>
                            <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has svived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maec enas ccumsan lacus vel facilisis.Curabitur aliquet quam id dui posuere blandit.</p>
                        </div>
                    </div>

                    <div class="tags">
                        <ul class="tag-link">
                            <li class="title">Tags:</li>
                            <li><a routerLink="/blog">Learning,</a></li>
                            <li><a routerLink="/blog">Education,</a></li>
                            <li><a routerLink="/blog">Development</a></li>
                        </ul>
                        <div class="share-link">
                            <ul class="social-icon">
                                <li class="title">Share:</li>
                                <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ri-twitter-fill"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <ul class="comment">
                        <li>
                            <img src="assets/images/blogs/comment-1.jpg" alt="Image">
                            <h3>Harold McLeod</h3>
                            <span>14, September 2024</span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, quos! Pariatur ipsum aperiam alias distinctio vel molestiae id. Aut atque sequi eius omnis et? Nesciunt blanditiis incidunt.</p>
                            <a routerLink="/blog-details" class="read-more">Reply</a>
                        </li>
                        <li class="margin-left">
                            <img src="assets/images/blogs/comment-2.jpg" alt="Image">
                            <h3>Alex Dew</h3>
                            <span>14, September 2024</span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, quos! Pariatur ipsum aperiam alias distinctio vel molestiae id. Aut atque sequi eius omnis et? Nesciunt.</p>
                            <a routerLink="/blog-details" class="read-more">Reply</a>
                        </li>
                        <li>
                            <img src="assets/images/blogs/comment-3.jpg" alt="Image">
                            <h3>Juhon Smith</h3>
                            <span>14, September 2024</span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, quos! Pariatur ipsum aperiam alias distinctio vel molestiae id. Aut atque sequi eius omnis Nesciunt blanditiis.</p>
                            <a routerLink="/blog-details" class="read-more">Reply</a>
                        </li>
                    </ul>
                    <ul class="prev-next d-flex justify-content-between align-items-center">
                        <li>
                            <a routerLink="/blog-details">
                                <i class="ri-arrow-left-s-line"></i>
                                <span>Previous</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/blog-details">
                                <span>Next</span>
                                <i class="ri-arrow-right-s-line"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="leave-reply">
                        <h3>Leave A Reply</h3>
                        <form>
                            <p>Your email address will not be published. Required fields are marked*</p>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Name*</label>
                                        <input type="text" name="name" id="name" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Email*</label>
                                        <input type="email" name="email" id="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Your Website Link</label>
                                        <input type="text" name="website" id="website" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label>Comment</label>
                                        <textarea name="message" class="form-control" id="message" rows="8"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <button type="submit" class="default-btn">Post A Comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <app-widget-sidebar></app-widget-sidebar>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>