<app-user-navbar></app-user-navbar>
<!-- 
<div class="db-main-content-area">
    <div class="container-fluid">

        
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-4 col-md-4 col-6">
                <div class="db-single-courses">
                    <i class="ri-book-open-line"></i>
                    <h2>09</h2>
                    <span>Total Enrolled Courses</span>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-6">
                <div class="db-single-courses">
                    <i class="ri-movie-line"></i>
                    <h2>02</h2>
                    <span>Active Courses</span>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-6">
                <div class="db-single-courses">
                    <i class="ri-check-line"></i>
                    <h2>07</h2>
                    <span>Completed Courses</span>
                </div>
            </div>
        </div>

    </div>
</div> -->