<app-instructor-navbar></app-instructor-navbar>

<div class="db-main-content-area">
    <div class="container-fluid">

        <!-- Settings -->
        <div class="users-instructors">
            <div class="box">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="assets/images/user/user1.jpg" alt="Image">
                                        <span>Aaron Rossi</span>
                                    </div>
                                </td>
                                <td>aron@grammarlist.com</td>
                                <td><span class="pending">Pending</span></td>
                                <td>
                                    <button type="button"><i class="ri-check-line"></i></button>
                                    <button type="button"><i class="ri-close-line"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="assets/images/user/user2.jpg" alt="Image">
                                        <span>Alina Smith</span>
                                    </div>
                                </td>
                                <td>alina@edon.com</td>
                                <td><span class="approved">Approved</span></td>
                                <td>
                                    <button type="button"><i class="ri-check-line"></i></button>
                                    <button type="button"><i class="ri-close-line"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="assets/images/user/user3.jpg" alt="Image">
                                        <span>James Andy</span>
                                    </div>
                                </td>
                                <td>james@edon.com</td>
                                <td><span class="pending">Pending</span></td>
                                <td>
                                    <button type="button"><i class="ri-check-line"></i></button>
                                    <button type="button"><i class="ri-close-line"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="assets/images/user/user4.jpg" alt="Image">
                                        <span>David Warner</span>
                                    </div>
                                </td>
                                <td>david@edon.com</td>
                                <td><span class="approved">Approved</span></td>
                                <td>
                                    <button type="button"><i class="ri-check-line"></i></button>
                                    <button type="button"><i class="ri-close-line"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="assets/images/user/user5.jpg" alt="Image">
                                        <span>Sarah Taylor</span>
                                    </div>
                                </td>
                                <td>sarah@edon.com</td>
                                <td><span class="pending">Pending</span></td>
                                <td>
                                    <button type="button"><i class="ri-check-line"></i></button>
                                    <button type="button"><i class="ri-close-line"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="assets/images/user/user6.jpg" alt="Image">
                                        <span>Kane Butler</span>
                                    </div>
                                </td>
                                <td>kane@edon.com</td>
                                <td><span class="canceled">Canceled</span></td>
                                <td>
                                    <button type="button"><i class="ri-check-line"></i></button>
                                    <button type="button"><i class="ri-close-line"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>