<div class="faq-area bg-color-fdfcfc pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="faq-accordion">
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(0)" [ngClass]="{ 'open': isSectionOpen(0) }">
                            How Do We Create Course Content?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(0) }">
                            <p>Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum <strong>porta</strong>. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet <i>aliquam</i> vel aliquet quam id dui posuere blandit <a routerLink="/contact">Contact Us</a>.</p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(1)" [ngClass]="{ 'open': isSectionOpen(1) }">
                            How Can I Manage My Account?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(1) }">
                            <p>Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel aliquet quam id dui posuere blandit <a routerLink="/contact">Contact Us</a>.</p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(2)" [ngClass]="{ 'open': isSectionOpen(2) }">
                            What Are The Benefits Of Edon Learning?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(2) }">
                            <p>Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel aliquet quam id dui posuere blandit <a routerLink="/contact">Contact Us</a>.</p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(3)" [ngClass]="{ 'open': isSectionOpen(3) }">
                            Is Support For Learners Included?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(3) }">
                            <p>Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel aliquet quam id dui posuere blandit <a routerLink="/contact">Contact Us</a>.</p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(4)" [ngClass]="{ 'open': isSectionOpen(4) }">
                            How Do I Reset My Account Password?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(4) }">
                            <p>Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel aliquet quam id dui posuere blandit <a routerLink="/contact">Contact Us</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="faq-img">
                    <img src="assets/images/faq-img.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</div>