<!-- Blog -->
<div class="blog-area bg-color-fdfcfc pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Latest From Our Blogs</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <a routerLink="/blog-details" class="image">
                        <img src="assets/images/blogs/blog-1.jpg" alt="Image">
                    </a>
                    <div class="content">
                        <ul class="meta">
                            <li>
                                <i class="ri-calendar-2-line"></i>
                                November 7, 2024
                            </li>
                            <li>
                                <i class="ri-price-tag-3-line"></i>
                                Education
                            </li>
                        </ul>
                        <h3>
                            <a routerLink="/blog-details">
                                All That Is Wrong With Codding In The Field Of Apprentices
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <a routerLink="/blog-details" class="image">
                        <img src="assets/images/blogs/blog-2.jpg" alt="Image">
                    </a>
                    <div class="content">
                        <ul class="meta">
                            <li>
                                <i class="ri-calendar-2-line"></i>
                                November 6, 2024
                            </li>
                            <li>
                                <i class="ri-price-tag-3-line"></i>
                                Education
                            </li>
                        </ul>
                        <h3>
                            <a routerLink="/blog-details">
                                How To Use Technology To Adapt Your Talent To The World
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <a routerLink="/blog-details" class="image">
                        <img src="assets/images/blogs/blog-3.jpg" alt="Image">
                    </a>
                    <div class="content">
                        <ul class="meta">
                            <li>
                                <i class="ri-calendar-2-line"></i>
                                November 5, 2024
                            </li>
                            <li>
                                <i class="ri-price-tag-3-line"></i>
                                Education
                            </li>
                        </ul>
                        <h3>
                            <a routerLink="/blog-details">
                                Here Are The Things To Look For When Selecting An Online Course
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>