<app-user-navbar></app-user-navbar>

<div class="db-main-content-area">
    <div class="container-fluid">

        <!-- My Profile -->
        <div class="db-my-profile-content">
            <ul>
                <li>
                    <span>First Name</span>
                    : {{name}}
                </li>
                <li>
                    <span>Last Name</span>
                    : Louden
                </li>
                <li>
                    <span>User Name</span>
                    : thomaslouden3s
                </li>
                <li>
                    <span>Email</span>
                    <a href="mailto:thomas@edon.com">: {{emails}}</a>
                </li>
                <li>
                    <span>Phone Number</span>
                    <a href="tel:+1(135)-1984-2020">: +1(135) 1984 2020</a>
                </li>
                <li>
                    <span>Website</span>
                    <a href="#" target="_blank">: https://edon.com/</a>
                </li>
                <li>
                    <span>Language</span>
                    : English
                </li>
                <li>
                    <span>Biography</span>
                    <p>: Quisque velit nisi, pretium ut lacinia in, elementum id enim. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta dapibus.Proin eget tortor risus. Proin eget tortor risus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat. Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Proin eget tortor risus.Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
                </li>
            </ul>
        </div>

    </div>
</div>