<div class="banner-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-content">
                    <span class="top-title">FOR A BETTER FUTURE</span>
                    <h1>We Have All Kinds Of <span>Courses</span> Collection</h1>
                    <p>The experience of our instructors benefits your career </p>
                    <div class="search-bar">
                        <form>
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn search-btn" type="submit">
                                <i class="ri-search-line"></i>
                            </button>
                        </form>
                    </div>
                    <ul class="popular-courses-tag">
                        <li>
                            <span>Popular Courses:</span>
                        </li>
                        <li>
                            <a routerLink="/courses">Design</a>
                            <a routerLink="/courses">Development</a>
                            <a routerLink="/courses">Marketing</a>
                            <a routerLink="/courses">Music</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="banner-img">
                    <img src="assets/images/banner/banner-img.png" alt="Image">
                </div>
            </div>
        </div>
        <div class="new-additions-content">
            <div class="new-additions">
                <div class="new-brand">
                    <img src="assets/images/new-additions.png" alt="Image">
                </div>
                <h6>New additions courses published each month</h6>
                <p>Choose from <span>25,000 +</span> online video courses</p>
            </div>
        </div>
    </div>
    <div class="banner-shape-left"><img src="assets/images/banner/banner-shap-left.png" alt="Image"></div>
</div>