.single-course-item {
	transition: var(--transition);
	margin-bottom: 30px;
    
	.courses-img {
		margin-bottom: 20px;
		position: relative;
		overflow: hidden;
		display: block;

		.levels {
			top: 15px;
			left: -55px;
			font-size: 13px;
			padding: 4px 60px;
			position: absolute;
			color: var(--whiteColor);
			transform: rotate(-45deg);
			background-color: var(--primaryColor);
		}
		.price {
			right: 0;
			bottom: 0;
			padding: 5px 15px;
			position: absolute;
			color: var(--whiteColor);
			border-radius: 15px 0 0 0;
			background-color: var(--secondaryColor);
			font: {
				size: 16px;
				weight: 500;
			};
		}
		.wishlist {
			top: 15px;
			padding: 0;
			right: 18px;
			line-height: 1;
			font-size: 30px;
			position: absolute;
			color: var(--whiteColor);
			background-color: transparent;
		}
	}
	.courses-content {
		overflow: hidden;

		h3 {
            font-size: 16px;
			line-height: 1.5;
			margin-bottom: 10px;
		}
		.review {
			padding-left: 0;
			margin-bottom: 10px;
			list-style-type: none;

			li {
				display: inline-block;

				i {
					font-size: 15px;
					color: #f6b429;
                    margin-right: 2px;
				}
				span {
					top: -2px;
					font-size: 15px;
					margin-left: 5px;
					position: relative;
				}
			}
		}
		.status {
			border-bottom: 1px solid #eeeeee;
			list-style-type: none;
			margin-bottom: 15px;
			padding: {
				left: 0;
				bottom: 15px;
			};
			li {
				display: inline-block;
				position: relative;
				padding-left: 20px;
				font-size: 15px;

				i {
					color: var(--primaryColor);
					position: absolute;
					left: 0;
					top: 0;
				}
				&.text-align {
					float: right;
				}
			}
		}
		.author {
			padding-left: 0;
			margin-bottom: 0;
			list-style-type: none;

			li {
				display: inline-block;

				a {
					display: inline-block;
					font-size: 15px;

					img {
						margin-right: 5px;
						width: auto !important;
						display: inline-block !important;
					}
				}
                .add-btn {
                    top: -2px;
                    font-size: 14px;
                    position: relative;
                    display: inline-block;
                    color: var(--blackColor);
                    padding: 8px 15px 7px 38px;
                    background-color: #f1f1f1;
                    transition: var(--transition);

                    i {
                        transform: translateY(-50%);
                        position: absolute;
                        margin-top: -1px;
						font-size: 16px;
                        left: 15px;
                        top: 50%;
                    }
                    &:hover {
                        background-color: var(--primaryColor);
                        color: var(--whiteColor);
                    }
                }
			}
		}
		.action {
			margin-bottom: 0;
			list-style-type: none;
			border-top: 1px solid #eeeeee;
			padding: {
				left: 0;
				top: 15px;
			};
			.default-btn {
				padding: {
					top: 10px;
					bottom: 10px;
				};
			}
			.delete {
				background-color: #ff0000;
				color: var(--whiteColor);
			}
		}
	}
}
.register-free {
	max-width: 600px;
	text-align: center;
	margin: 20px auto 0;

	p {
		a {
			color: var(--primaryColor);
		}
	}
}
.showing-result {
	margin-bottom: 30px;

	p {
		font-size: 15px;
		
		strong {
			font-weight: 500;
			color: var(--blackColor);
		}
	}
	.showing-top-bar-ordering {
		text-align: end;

		label {
			display: inline-block;
			font-size: 15px;
			margin: {
				bottom: 0;
				right: 5px;
			};
		}
		select {
			width: 215px;
			cursor: pointer;
			display: inline-block;
			border-color: #eeeeee;
			transition: var(--transition);
			background-color: #f8f8f8;
			color: var(--blackColor);
			padding: 0 0 0 15px;
			box-shadow: unset;
			line-height: 45px;
			height: 45px;
			font: {
				size: 15px;
				weight: normal;
			};
			&:hover {
				border-color: var(--primaryColor);
				background-color: transparent;
			}
		}
	}
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

	.register-free {
        margin-top: 0;
    }
	.showing-result {
		text-align: center;
	
		p {
			font-size: 14px;
		}
		.showing-top-bar-ordering {
			text-align: center;
			margin-top: 12px;
	
			label {
				font-size: 14px;
			}
			select {
				font-size: 14px;
			}
		}
	}

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {}