<app-admin-navbar></app-admin-navbar>

<div class="db-main-content-area">
    <div class="container-fluid">

        <!-- Total -->
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                <div class="db-single-courses">
                    <i class="ri-book-open-line"></i>
                    <h2>987</h2>
                    <span>Total Courses</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                <div class="db-single-courses">
                    <i class="ri-user-star-fill"></i>
                    <h2>100</h2>
                    <span>Total Instructors</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                <div class="db-single-courses">
                    <i class="ri-check-line"></i>
                    <h2>50.7K</h2>
                    <span>Total Sell</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                <div class="db-single-courses">
                    <i class="ri-shield-user-line"></i>
                    <h2>45.1K</h2>
                    <span>Total Users</span>
                </div>
            </div>
        </div>

        <!-- Users & Instructors -->
        <div class="users-instructors">
            <div class="row">
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div class="box">
                        <h3>Recent Users</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="assets/images/user/user1.jpg" alt="Image">
                                                <span>Aaron Rossi</span>
                                            </div>
                                        </td>
                                        <td>aron@grammarlist.com</td>
                                        <td><span class="pending">Pending</span></td>
                                        <td>
                                            <button type="button"><i class="ri-check-line"></i></button>
                                            <button type="button"><i class="ri-close-line"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="assets/images/user/user2.jpg" alt="Image">
                                                <span>Alina Smith</span>
                                            </div>
                                        </td>
                                        <td>alina@edon.com</td>
                                        <td><span class="approved">Approved</span></td>
                                        <td>
                                            <button type="button"><i class="ri-check-line"></i></button>
                                            <button type="button"><i class="ri-close-line"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="assets/images/user/user3.jpg" alt="Image">
                                                <span>James Andy</span>
                                            </div>
                                        </td>
                                        <td>james@edon.com</td>
                                        <td><span class="pending">Pending</span></td>
                                        <td>
                                            <button type="button"><i class="ri-check-line"></i></button>
                                            <button type="button"><i class="ri-close-line"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="assets/images/user/user4.jpg" alt="Image">
                                                <span>David Warner</span>
                                            </div>
                                        </td>
                                        <td>david@edon.com</td>
                                        <td><span class="approved">Approved</span></td>
                                        <td>
                                            <button type="button"><i class="ri-check-line"></i></button>
                                            <button type="button"><i class="ri-close-line"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="assets/images/user/user5.jpg" alt="Image">
                                                <span>Sarah Taylor</span>
                                            </div>
                                        </td>
                                        <td>sarah@edon.com</td>
                                        <td><span class="pending">Pending</span></td>
                                        <td>
                                            <button type="button"><i class="ri-check-line"></i></button>
                                            <button type="button"><i class="ri-close-line"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="assets/images/user/user6.jpg" alt="Image">
                                                <span>Kane Butler</span>
                                            </div>
                                        </td>
                                        <td>kane@edon.com</td>
                                        <td><span class="canceled">Canceled</span></td>
                                        <td>
                                            <button type="button"><i class="ri-check-line"></i></button>
                                            <button type="button"><i class="ri-close-line"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div class="box">
                        <h3>Recent Instructors</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="assets/images/user/user1.jpg" alt="Image">
                                                <span>Aaron Rossi</span>
                                            </div>
                                        </td>
                                        <td>aron@grammarlist.com</td>
                                        <td><span class="pending">Pending</span></td>
                                        <td>
                                            <button type="button"><i class="ri-check-line"></i></button>
                                            <button type="button"><i class="ri-close-line"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="assets/images/user/user2.jpg" alt="Image">
                                                <span>Alina Smith</span>
                                            </div>
                                        </td>
                                        <td>alina@edon.com</td>
                                        <td><span class="approved">Approved</span></td>
                                        <td>
                                            <button type="button"><i class="ri-check-line"></i></button>
                                            <button type="button"><i class="ri-close-line"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="assets/images/user/user3.jpg" alt="Image">
                                                <span>James Andy</span>
                                            </div>
                                        </td>
                                        <td>james@edon.com</td>
                                        <td><span class="pending">Pending</span></td>
                                        <td>
                                            <button type="button"><i class="ri-check-line"></i></button>
                                            <button type="button"><i class="ri-close-line"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="assets/images/user/user4.jpg" alt="Image">
                                                <span>David Warner</span>
                                            </div>
                                        </td>
                                        <td>david@edon.com</td>
                                        <td><span class="approved">Approved</span></td>
                                        <td>
                                            <button type="button"><i class="ri-check-line"></i></button>
                                            <button type="button"><i class="ri-close-line"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="assets/images/user/user5.jpg" alt="Image">
                                                <span>Sarah Taylor</span>
                                            </div>
                                        </td>
                                        <td>sarah@edon.com</td>
                                        <td><span class="pending">Pending</span></td>
                                        <td>
                                            <button type="button"><i class="ri-check-line"></i></button>
                                            <button type="button"><i class="ri-close-line"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="assets/images/user/user6.jpg" alt="Image">
                                                <span>Kane Butler</span>
                                            </div>
                                        </td>
                                        <td>kane@edon.com</td>
                                        <td><span class="canceled">Canceled</span></td>
                                        <td>
                                            <button type="button"><i class="ri-check-line"></i></button>
                                            <button type="button"><i class="ri-close-line"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>