<!-- Navbar -->
<nav class="db-navbar navbar navbar-light bg-light">
    <div class="container-fluid">
        <a routerLink="/user-dashboard" class="navbar-brand me-0">
            <img src="./assets/images/letter-l.png" alt="Image" style="width: 70px; height: 70px;">
        </a>
        <h3>Dashboard</h3>
        <button class="navbar-toggler" type="button" (click)="sidebarSwitcherToggleClass()">
            <span class="burger-menu">
                <span class="top-bar"></span>
                <span class="middle-bar"></span>
                <span class="bottom-bar"></span>
            </span>
        </button>
        <ul class="db-others-option d-flex mb-0 align-items-center">
            <!-- <li>
                <a routerLink="/become-an-instructor">
                    Become an instructor
                </a>
            </li> -->
            <li class="db-dropdown">
                <div class="db-option" [class.active]="switcherClassApplied"> 
                    <button class="dropdown-toggle" type="button" (click)="switcherToggleClass()">
                        <img src="assets/images/admin.jpg" alt="Image">
                        <span>{{email}}</span>
                    </button>
                    <div class="dropdown-menu"> 
                        <a class="dropdown-item" routerLink="/user-settings">Settings</a>
                        <a class="dropdown-item" routerLink="/">Logout</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- Sidebar Menu -->
<div class="db-left-sidebar-area" [class.active]="sidebarSwitcherClassApplied">
    <ul>
        <li><a routerLink="/user-dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="ri-dashboard-line"></i> Dashboard</a></li>
        <li><a routerLink="/user-profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="ri-user-line"></i> My Profile</a></li>
        <!-- <li><a routerLink="/user-enrolled-courses" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="ri-book-open-line"></i> My Courses</a></li> -->
        <!-- <li><a routerLink="/user-reviews" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="ri-shape-line"></i> Reviews</a></li> -->
        <!-- <li><a routerLink="/user-purchase-history" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="ri-history-fill"></i> Purchase History</a></li> -->
        <li><a routerLink="/user-settings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="ri-settings-3-line"></i> Settings</a></li>
        <li><a routerLink="/"><i class="ri-logout-circle-r-line" ></i> Logout</a></li>
    </ul>
    <button class="navbar-toggler" type="button" (click)="sidebarSwitcherToggleClass()">
        <span class="burger-menu">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </span>
    </button>
</div>