<app-navbar></app-navbar>

<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-content">
            <h2>About Instructor</h2>
            <ul class="pages-link">
                <li><a routerLink="/">Home</a></li>
                <li class="active">Instructor Profile</li>
            </ul>
        </div>
    </div>
</div>

<!-- Instructors Profile -->
<div class="instructor-profile-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="instructor-profile-img mr-15">
                    <img src="assets/images/instructor-profile.jpg" alt="Image">
                    <ul class="social-link">
                        <li><span>Follow me:</span></li>
                        <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                        <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                        <li><a href="#" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                        <li><a href="#" target="_blank"><i class="ri-twitter-line"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="instructor-profile-content ml-15">
                    <h3>Richard Arthur</h3>
                    <span class="category">Web Developer</span>
                    <ul>
                        <li>
                            <span>Phone Number:</span>
                            +1(135) 1984 2020
                        </li>
                        <li>
                            <span>Email:</span>
                            <a href="mailto:hello@edon.com">hello@edon.com</a>
                        </li>
                        <li>
                            <span>Website:</span>
                            <a href="#" target="_blank">www.edon.com</a>
                        </li>
                        <li>
                            <span>Total Students:</span>
                            461
                        </li>
                        <li>
                            <span>Reviews:</span>
                            +1(135) 1984 2020
                        </li>
                        <li>
                            <span>Courses Taken:</span>
                            07
                        </li>
                    </ul>
                    <p>Sed porttitor lectus nibh. Donec rutrum congue leo eget malesuada. Praesent sapien massa, convallis a pellentesque  egestas Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur non.</p>
                    <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id orci porta.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Courses -->
<div class="popular-courses-area pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Instructor Courses</h2>
        </div>
        <div class="shorting">
            <div class="row justify-content-center">
                <div class="col-xl-3 col-sm-6">
                    <div class="single-course-item">
                        <a routerLink="/courses-details" class="courses-img">
                            <img src="assets/images/courses/course-1.jpg" alt="Image">
                            <span class="levels">All Levels</span>
                            <span class="price">$25.00</span>
                            <button type="submit" class="wishlist"><i class="ri-heart-line"></i></button>
                        </a>
                        <div class="courses-content">
                            <h3>
                                <a routerLink="/courses-details">
                                    Complete Guideline From Zero To Hero In Web Development
                                </a>
                            </h3>
                            <ul class="review">
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><span>5.00(15)</span></li>
                            </ul>
                            <ul class="status d-flex justify-content-between align-items-center">
                                <li>
                                    <i class="ri-time-line"></i>
                                    7 Total hours
                                </li>
                                <li>
                                    <i class="ri-user-add-line"></i>
                                    12 Students
                                </li>
                            </ul>
                            <ul class="author d-flex justify-content-between align-items-center">
                                <li>
                                    <a routerLink="/author">
                                        <img src="assets/images/courses/user-1.jpg" alt="">
                                        By: Richard Arthur
                                    </a>
                                </li>
                                <li class="cart-btn">
                                    <button type="submit" class="add-btn">
                                        <i class="ri-shopping-cart-line"></i>
                                        <span>Add To Cart</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="single-course-item">
                        <a routerLink="/courses-details" class="courses-img">
                            <img src="assets/images/courses/course-2.jpg" alt="Image">
                            <span class="levels">All Levels</span>
                            <span class="price">Free</span>
                            <button type="submit" class="wishlist"><i class="ri-heart-line"></i></button>
                        </a>
                        <div class="courses-content">
                            <h3>
                                <a routerLink="/courses-details">
                                    Successful Course: Robot Humanoid Walk An Upstairs Success
                                </a>
                            </h3>
                            <ul class="review">
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-line"></i></li>
                                <li><span>4.00(20)</span></li>
                            </ul>
                            <ul class="status d-flex justify-content-between align-items-center">
                                <li>
                                    <i class="ri-time-line"></i>
                                    3 Total hours
                                </li>
                                <li>
                                    <i class="ri-user-add-line"></i>
                                    416 Students
                                </li>
                            </ul>
                            <ul class="author d-flex justify-content-between align-items-center">
                                <li>
                                    <a routerLink="/author">
                                        <img src="assets/images/courses/user-2.jpg" alt="Image">
                                        By: Richard Arthur
                                    </a>
                                </li>
                                <li class="cart-btn">
                                    <button type="submit" class="add-btn">
                                        <i class="ri-shopping-cart-line"></i>
                                        <span>Add To Cart</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="single-course-item">
                        <a routerLink="/courses-details" class="courses-img">
                            <img src="assets/images/courses/course-3.jpg" alt="Image">
                            <span class="levels">All Levels</span>
                            <span class="price">$30.00</span>
                            <button type="submit" class="wishlist"><i class="ri-heart-line"></i></button>
                        </a>
                        <div class="courses-content">
                            <h3>
                                <a routerLink="/courses-details">
                                    Graphic Design Masterclass: Graphic Design Course A-z
                                </a>
                            </h3>
                            <ul class="review">
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-line"></i></li>
                                <li><span>4.5(12)</span></li>
                            </ul>
                            <ul class="status d-flex justify-content-between align-items-center">
                                <li>
                                    <i class="ri-time-line"></i>
                                    4 Total hours
                                </li>
                                <li>
                                    <i class="ri-user-add-line"></i>
                                    99 Students
                                </li>
                            </ul>
                            <ul class="author d-flex justify-content-between align-items-center">
                                <li>
                                    <a routerLink="/author">
                                        <img src="assets/images/courses/user-3.jpg" alt="Image">
                                        By: Richard Arthur
                                    </a>
                                </li>
                                <li class="cart-btn">
                                    <button type="submit" class="add-btn">
                                        <i class="ri-shopping-cart-line"></i>
                                        <span>Add To Cart</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="single-course-item">
                        <a routerLink="/courses-details" class="courses-img">
                            <img src="assets/images/courses/course-4.jpg" alt="Image">
                            <span class="levels">Beginner</span>
                            <span class="price">$20.00</span>
                            <button type="submit" class="wishlist"><i class="ri-heart-line"></i></button>
                        </a>
                        <div class="courses-content">
                            <h3>
                                <a routerLink="/courses-details">
                                    Photography Is A Complete Guideline For Easy Learning
                                </a>
                            </h3>
                            <ul class="review">
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-line"></i></li>
                                <li><span>4.5(2)</span></li>
                            </ul>
                            <ul class="status d-flex justify-content-between align-items-center">
                                <li>
                                    <i class="ri-time-line"></i>
                                    1 Total hours
                                </li>
                                <li>
                                    <i class="ri-user-add-line"></i>
                                    45 Students
                                </li>
                            </ul>
                            <ul class="author d-flex justify-content-between align-items-center">
                                <li>
                                    <a routerLink="/author">
                                        <img src="assets/images/courses/user-4.jpg" alt="Image">
                                        By: Richard Arthur
                                    </a>
                                </li>
                                <li class="cart-btn">
                                    <button type="submit" class="add-btn">
                                        <i class="ri-shopping-cart-line"></i>
                                        <span>Add To Cart</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="single-course-item">
                        <a routerLink="/courses-details" class="courses-img">
                            <img src="assets/images/courses/course-5.jpg" alt="Image">
                            <span class="levels">All Levels</span>
                            <span class="price">$39.00</span>
                            <button type="submit" class="wishlist"><i class="ri-heart-line"></i></button>
                        </a>
                        <div class="courses-content">
                            <h3>
                                <a routerLink="/courses-details">
                                    Finance Fundamentals - Easy Guide To Better Finances
                                </a>
                            </h3>
                            <ul class="review">
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-line"></i></li>
                                <li><span>5.00(5)</span></li>
                            </ul>
                            <ul class="status d-flex justify-content-between align-items-center">
                                <li>
                                    <i class="ri-time-line"></i>
                                    3 Total hours
                                </li>
                                <li>
                                    <i class="ri-user-add-line"></i>
                                    56 Students
                                </li>
                            </ul>
                            <ul class="author d-flex justify-content-between align-items-center">
                                <li>
                                    <a routerLink="/author">
                                        <img src="assets/images/courses/user-5.jpg" alt="Image">
                                        By: Richard Arthur
                                    </a>
                                </li>
                                <li class="cart-btn">
                                    <button type="submit" class="add-btn">
                                        <i class="ri-shopping-cart-line"></i>
                                        <span>Add To Cart</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="single-course-item">
                        <a routerLink="/courses-details" class="courses-img">
                            <img src="assets/images/courses/course-6.jpg" alt="Image">
                            <span class="levels">Beginner</span>
                            <span class="price">Free</span>
                            <button type="submit" class="wishlist"><i class="ri-heart-line"></i></button>
                        </a>
                        <div class="courses-content">
                            <h3>
                                <a routerLink="/courses-details">
                                    Essential Guide To Fashion Design Beginner Course
                                </a>
                            </h3>
                            <ul class="review">
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-line"></i></li>
                                <li><span>4.5(1)</span></li>
                            </ul>
                            <ul class="status d-flex justify-content-between align-items-center">
                                <li>
                                    <i class="ri-time-line"></i>
                                    2 Total hours
                                </li>
                                <li>
                                    <i class="ri-user-add-line"></i>
                                    24 Students
                                </li>
                            </ul>
                            <ul class="author d-flex justify-content-between align-items-center">
                                <li>
                                    <a routerLink="/author">
                                        <img src="assets/images/courses/user-6.jpg" alt="Image">
                                        By: Richard Arthur
                                    </a>
                                </li>
                                <li class="cart-btn">
                                    <button type="submit" class="add-btn">
                                        <i class="ri-shopping-cart-line"></i>
                                        <span>Add To Cart</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="single-course-item">
                        <a routerLink="/courses-details" class="courses-img">
                            <img src="assets/images/courses/course-7.jpg" alt="Image">
                            <span class="levels">All Levels</span>
                            <span class="price">$75.00</span>
                            <button type="submit" class="wishlist"><i class="ri-heart-line"></i></button>
                        </a>
                        <div class="courses-content">
                            <h3>
                                <a routerLink="/courses-details">
                                    Machine Learning A-z. Data Science And Machine Learning
                                </a>
                            </h3>
                            <ul class="review">
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-line"></i></li>
                                <li><span>4.5(15)</span></li>
                            </ul>
                            <ul class="status d-flex justify-content-between align-items-center">
                                <li>
                                    <i class="ri-time-line"></i>
                                    5 Total hours
                                </li>
                                <li>
                                    <i class="ri-user-add-line"></i>
                                    40 Students
                                </li>
                            </ul>
                            <ul class="author d-flex justify-content-between align-items-center">
                                <li>
                                    <a routerLink="/author">
                                        <img src="assets/images/courses/user-7.jpg" alt="Image">
                                        By: Richard Arthur
                                    </a>
                                </li>
                                <li class="cart-btn">
                                    <button type="submit" class="add-btn">
                                        <i class="ri-shopping-cart-line"></i>
                                        <span>Add To Cart</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="single-course-item">
                        <a routerLink="/courses-details" class="courses-img">
                            <img src="assets/images/courses/course-8.jpg" alt="Image">
                            <span class="levels">Beginner</span>
                            <span class="price">$30.00</span>
                            <button type="submit" class="wishlist"><i class="ri-heart-line"></i></button>
                        </a>
                        <div class="courses-content">
                            <h3>
                                <a routerLink="/courses-details">
                                    Medical Terminology - Start Basic Learning Course
                                </a>
                            </h3>
                            <ul class="review">
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-line"></i></li>
                                <li><span>4.5(7)</span></li>
                            </ul>
                            <ul class="status d-flex justify-content-between align-items-center">
                                <li>
                                    <i class="ri-time-line"></i>
                                    1 Total hours
                                </li>
                                <li>
                                    <i class="ri-user-add-line"></i>
                                    27 Students
                                </li>
                            </ul>
                            <ul class="author d-flex justify-content-between align-items-center">
                                <li>
                                    <a routerLink="/author">
                                        <img src="assets/images/courses/user-8.jpg" alt="Image">
                                        By: Richard Arthur
                                    </a>
                                </li>
                                <li class="cart-btn">
                                    <button type="submit" class="add-btn">
                                        <i class="ri-shopping-cart-line"></i>
                                        <span>Add To Cart</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>