<!-- Footer -->
<footer class="footer-area bg-color-05122d pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <a routerLink="/" class="logo">
                        <img src="./assets/images/letter-l.png" alt="Image" style="height: 100px; width: 100px;">
                    </a>
                    <p>Vivamus suscipit tortor eget felis porttitor volutpat. Donec rutrum congue leo eget malesuada. Curabitu Nulla porttitor accumsan tincidunt.</p>
                    <ul class="social-link">
                        <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                        <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                        <li><a href="#" target="_blank"><i class="ri-twitter-fill"></i></a></li>
                        <li><a href="#" target="_blank"><i class="ri-linkedin-box-fill"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget pl-4">
                    <h3>Popular Courses</h3>
                    <ul class="import-link">
                        <li><a routerLink="/courses">Computer Science</a></li>
                        <li><a routerLink="/courses">Web Development</a></li>
                        <li><a routerLink="/courses">Data Science</a></li>
                        <li><a routerLink="/courses">Marketing</a></li>
                        <li><a routerLink="/courses">Photography</a></li>
                        <li><a routerLink="/courses">Business</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget pl-4">
                    <h3>Company</h3>
                    <ul class="import-link">
                        <li><a routerLink="/about">About Us</a></li>
                        <li><a routerLink="/courses">Courses</a></li>
                        <li><a routerLink="/instructors">Instructor</a></li>
                        <li><a routerLink="/events">Events</a></li>
                        <li><a routerLink="/terms-conditions">Terms & Conditions</a></li>
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Contact Info</h3>
                    <ul class="address">
                        <li class="location">
                            <i class="ri-map-pin-line"></i>
                            07 Boroughbridge Road BISLEY GL6 5PA, USA
                        </li>
                        <li>
                            <i class="ri-phone-fill"></i>
                            <a href="tel:+1(135)-1984-2020">+1(135) 1984 2020</a>
                        </li>
                        <li>
                            <i class="ri-mail-fill"></i>
                            <a href="mailto:hello@edon.com">hello@xyz.com</a>
                        </li>
                        <li>
                            <i class="ri-mail-fill"></i>
                            <a href="mailto:support@edon.com">support@xyx.com</a>
                        </li>
                        <li class="location">
                            <i class="ri-time-line"></i>
                            (8 AM - 7 PM, Monday - Friday)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Copyright -->
<div class="copy-right-area bg-color-05122d">
    <div class="container">
        <div class="copy-right-wrap">
            <p>© XYZ is Proudly Owned by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
        </div>
    </div>
</div>