/*footer*/
.single-footer-widget {
	margin-bottom: 30px;

	.logo {
		margin-bottom: 25px;
		display: inline-block;
	}
	p {
		color: #e2e2e2;
	}
	.social-link {
		padding-left: 0;
		list-style-type: none;
        margin: {
            top: 20px;
            bottom: 0;
        };
		li {
			display: inline-block;
			margin-right: 10px;
            
			a {
                width: 35px;
                height: 35px;
                font-size: 18px;
                line-height: 35px;
                text-align: center;
                display: inline-block;
                color: var(--whiteColor);
                background-color: #2c3040;
                transition: var(--transition);

				&:hover {
					background-color: var(--primaryColor);
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	h3 {
		font-size: 22px;
		margin-bottom: 25px;
		color: var(--whiteColor);
	}
	.address {
		padding-left: 0;
        margin-bottom: 0;
		list-style-type: none;

		li {
            line-height: 1.8;
			color: #e2e2e2;
            font-size: 15.5px;
			position: relative;
			padding-left: 30px;
			margin-bottom: 11px;

			i {
				left: 0;
				top: -4px;
				font-size: 20px;
				position: absolute;
				color: var(--primaryColor);
			}
			a {
				display: block;
				color: #e2e2e2;

				&:hover {
					color: var(--primaryColor);
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.import-link {
		padding-left: 0;
        margin-bottom: 0;
		list-style-type: none;

		li {
			margin-bottom: 12px;

			a {
				color: #e2e2e2;
                position: relative;
                padding-left: 20px;

                &::before {
                    left: 0;
                    top: 4px;
                    width: 10px;
                    content: "";
                    height: 10px;
                    position: absolute;
                    border-radius: 50px;
                    background-color: var(--primaryColor);
                }
                &:hover {
                    color: var(--primaryColor);
                }
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
    &.pl-4 {
        padding-left: 4rem;
    }
}

/*copyright*/
.copy-right-wrap {
	text-align: center;
	border-top: 1px solid #2c3040;
    padding: {
        top: 20px;
        bottom: 20px;
    };
	p {
		color: #e2e2e2;

		a {
			color: var(--primaryColor);

			&:hover {
				color: var(--whiteColor);
			}
		}
	}
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

	.single-footer-widget {
		.logo {
			margin-bottom: 20px;
		}
        h3 {
            font-size: 18px;
        }
        .import-link {
            li {
                font-size: 14px;
            }
        }
        .address {
            li {
                font-size: 14px;

				i {
					font-size: 17px;
				}
            }
        }
		&.pl-4 {
			padding-left: 0;
		}
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

	.single-footer-widget {
        h3 {
            font-size: 22px;
        }
        .import-link {
            li {
                font-size: 15px;
            }
        }
        .address {
            li {
                font-size: 15px;
            }
        }
		&.pl-4 {
			padding-left: 0;
		}
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

	.single-footer-widget {
		&.pl-4 {
			padding-left: 0;
		}
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {}