<app-navbar></app-navbar>

<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-content">
            <h2>These Are Our Instructors</h2>
            <ul class="pages-link">
                <li><a routerLink="/">Home</a></li>
                <li class="active">Instructors</li>
            </ul>
        </div>
    </div>
</div>

<!-- Instructors -->
<div class="instructors-area pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single-instructors-item">
                    <div class="instructors-img">
                        <img src="assets/images/instructors/instructors-1.jpg" alt="Image">
                        <ul class="instructors-social">
                            <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-twitter-line"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-linkedin-box-fill"></i></a></li>
                        </ul>
                    </div>
                    <div class="instructors-content">
                        <h3><a routerLink="/instructor-profile">Lance Altman</a></h3>
                        <p>Full Stack Developer </p>
                    </div>
                </div>
            </div>	
            <div class="col-lg-3 col-sm-6">
                <div class="single-instructors-item">
                    <div class="instructors-img">
                        <img src="assets/images/instructors/instructors-2.jpg" alt="Image">
                        <ul class="instructors-social">
                            <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-twitter-line"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-linkedin-box-fill"></i></a></li>
                        </ul>
                    </div>
                    <div class="instructors-content">
                        <h3><a routerLink="/instructor-profile">Sally Welch</a></h3>
                        <p>Art Director</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-instructors-item">
                    <div class="instructors-img">
                        <img src="assets/images/instructors/instructors-3.jpg" alt="Image">
                        <ul class="instructors-social">
                            <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-twitter-line"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-linkedin-box-fill"></i></a></li>
                        </ul>
                    </div>
                    <div class="instructors-content">
                        <h3><a routerLink="/instructor-profile">Willie Mcdonagh</a></h3>
                        <p>Photographer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-instructors-item">
                    <div class="instructors-img">
                        <img src="assets/images/instructors/instructors-4.jpg" alt="Image">
                        <ul class="instructors-social">
                            <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-twitter-line"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-linkedin-box-fill"></i></a></li>
                        </ul>
                    </div>
                    <div class="instructors-content">
                        <h3><a routerLink="/instructor-profile">Jesse Joslin</a></h3>
                        <p>Content Strategist</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-instructors-item">
                    <div class="instructors-img">
                        <img src="assets/images/instructors/instructors-5.jpg" alt="Image">
                        <ul class="instructors-social">
                            <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-twitter-line"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-linkedin-box-fill"></i></a></li>
                        </ul>
                    </div>
                    <div class="instructors-content">
                        <h3><a routerLink="/instructor-profile">Richard Arthur</a></h3>
                        <p>Web Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-instructors-item">
                    <div class="instructors-img">
                        <img src="assets/images/instructors/instructors-6.jpg" alt="Image">
                        <ul class="instructors-social">
                            <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-twitter-line"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-linkedin-box-fill"></i></a></li>
                        </ul>
                    </div>
                    <div class="instructors-content">
                        <h3><a routerLink="/instructor-profile">Carol Owens</a></h3>
                        <p>Chief Programmer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-instructors-item">
                    <div class="instructors-img">
                        <img src="assets/images/instructors/instructors-7.jpg" alt="Image">
                        <ul class="instructors-social">
                            <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-twitter-line"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-linkedin-box-fill"></i></a></li>
                        </ul>
                    </div>
                    <div class="instructors-content">
                        <h3><a routerLink="/instructor-profile">Jessica Calabrese</a></h3>
                        <p>Creative Writer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-instructors-item">
                    <div class="instructors-img">
                        <img src="assets/images/instructors/instructors-8.jpg" alt="Image">
                        <ul class="instructors-social">
                            <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-twitter-line"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-linkedin-box-fill"></i></a></li>
                        </ul>
                    </div>
                    <div class="instructors-content">
                        <h3><a routerLink="/instructor-profile">David Charest</a></h3>
                        <p>Marketing Director</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>