<app-navbar></app-navbar>

<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-content">
            <h2>JavaScript A Language</h2>
            <ul class="pages-link">
                <li><a routerLink="/">Home</a></li>
                <li class="active">Events Details</li>
            </ul>
        </div>
    </div>
</div>

<!-- Events Details -->
<div class="event-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="event-details-content">
                    <img src="assets/images/event-details-img.jpg" alt="Image">
                    <h3>Event Description</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has svived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.Risus commodo viverra maec enas ccumsan lacus vel facilisis.Curabitur aliquet quam id dui posuere blandit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Donec rutrum congue leo eget malesuada. Curabitur arcu erat, accu msan id imperdiet et, porttitor at sem.</p>
                    <h3>Location</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae harum saepe dolores ratione aliquid! Commodi, suscipit. Cupiditate unde ducimus, nostrum soluta sit a dolores, praesentium quidem asperiores reiciendis ab! Itaque!</p>
                    <div class="event-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2347.054594094216!2d-1.1282696840056767!3d53.96629823579383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879313994d79e01%3A0xcd0ecd5e32a7bd5a!2sBoroughbridge%20Rd%2C%20York%2C%20UK!5e0!3m2!1sen!2sbd!4v1633841282102!5m2!1sen!2sbd"></iframe>
                    </div>
                    <h3>Our Speakers</h3>
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-instructors-item">
                                <div class="instructors-img">
                                    <img src="assets/images/instructors/instructors-1.jpg" alt="Image">
                                    <ul class="instructors-social">
                                        <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ri-twitter-line"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ri-linkedin-box-fill"></i></a></li>
                                    </ul>
                                </div>
                                <div class="instructors-content">
                                    <h3><a href="instructor-profile.html">Lance Altman</a></h3>
                                    <p>Full Stack Developer </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-instructors-item">
                                <div class="instructors-img">
                                    <img src="assets/images/instructors/instructors-2.jpg" alt="Image">
                                    <ul class="instructors-social">
                                        <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ri-twitter-line"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ri-linkedin-box-fill"></i></a></li>
                                    </ul>
                                </div>
                                <div class="instructors-content">
                                    <h3><a href="instructor-profile.html">Sally Welch</a></h3>
                                    <p>Art Director</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-instructors-item">
                                <div class="instructors-img">
                                    <img src="assets/images/instructors/instructors-3.jpg" alt="Image">
                                    <ul class="instructors-social">
                                        <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ri-twitter-line"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ri-linkedin-box-fill"></i></a></li>
                                    </ul>
                                </div>
                                <div class="instructors-content">
                                    <h3><a href="instructor-profile.html">Willie Mcdonagh</a></h3>
                                    <p>Photographer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="widget-sidebar ml-15">
                    <div class="sidebar-widget events-description">
                        <h3>Events Description - 2024</h3>
                        <ul>
                            <li>
                                Start:
                                <span>1st Oct 2024</span>
                            </li>
                            <li>
                                Event Category:
                                <span>Conference</span>
                            </li>
                            <li>
                                Location: 
                                <span>New York</span>
                            </li>
                            <li>
                                Time:
                                <span>Friday 3PM - 5PM</span>
                            </li>
                            <li>
                                Cost:
                                <span>$59.00</span>
                            </li>
                            <li>
                                Total Slot:
                                <span>200</span>
                            </li>
                            <li>
                                Booked Slot:
                                <span>0</span>
                            </li>
                            <li>
                                Website:
                                <a href="#" target="_blank">www.edon.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>